#container {
  background-color: red;
  height: 700px;
  width: 1500px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows: 350px 350px;
  place-items: center;
  margin-left: 5.5vw;
  margin-top: 4vw;
}

.photo {
  width: 200px;
  height: 200px;
}
