
#container {
  background-color: purple;
  height: 650px;
  width: 1500px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows: 325px 325px;
  place-items: center;
  margin-left: 6vw;
  margin-top: 2vw;
}

.photo {
  width: 200px;
  height: 200px;
}

#header {
  display: flex;
  justify-content: space-around;
}