.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

#container {
  background-color: purple;
  height: 650px;
  width: 1500px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows: 325px 325px;
  place-items: center;
  margin-left: 6vw;
  margin-top: 2vw;
}

.photo-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.photo {
  width: 200px;
  height: 200px;
}

.photo-name {
  background-color: black;
  color: white;
  opacity: 50%;
  font-size: 1.5em;
  text-align: center;
}

.photo-name:hover,
.photo:hover {
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: space-around;
}

#header > div {
  font-size: 20px;
}

#description {
  text-align: center;
  font-size: 30px;
  margin-top: 2vh;
}

#title {
  margin-right: 10vw;
}